* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

html {
  background: #111;
  color: #ddd;
  padding: 2%;
}

p {
  word-break: break-all;
}

label, input {
  display: block
}

label {
  margin: 10px 0 5px 0;
}

button {
  margin: 10px 0 10px 0;
}

.card {
  padding: 10px;
  border-bottom: 2px solid #048cf4;
}

.card h2 {
  margin-top: 0;
}

.start_invisible {
  display: none;
}
