* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

label, input {
  display: block
}

#credentials_form_username, #credentials_form_url, #generate_hash, #hash_result_title, #input_credentials_div {
  display: none;
}